<%- include('../layouts/header'); %>
<body>
    <%- include('../layouts/nav'); %>
    <h1>Products</h1>
    <div class="container">
        <div class="row">
          <div class="col-3"><img src="https://loremflickr.com/320/240">
            <h4>Title</h4>
            <span>Description</span>
            <br>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
          <div class="col-3"><img src="https://loremflickr.com/320/240">
          <h4>Title</h4>
          <span>Description</span>
          <br>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
          <div class="col-3"><img src="https://loremflickr.com/320/240">
            <h4>Title</h4>
            <span>Description</span>
            <br>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
          <div class="col-3"><img src="https://loremflickr.com/320/240">
            <h4>Title</h4>
            <span>Description</span>
            <br>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
        </div>
    <%- include('../layouts/footer'); %>
</body>